* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url(art/4351331.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: fixed;
  color: #b5145a;
}
